$white: #fff;
$color-icons: #c48f65;
$color-fondo: #0f0f1a;
$color-form: #c48f65;
$color-barras: #c48f65;
$grid-columns:      12;
$grid-gutter-width: 30px;
$color-subtitle: gray;

//texto
$josefin: 'Josefin Sans', sans-serif;
$domine: 'Domine', serif;

